.Discountlabel {
display: block;
margin: 0.5em auto;
font-size: 1.5em;
font-weight: bold;
text-align: center;
}
.Checkboxlarger {
width: 20px;
height: 20px;
}
#final-price {
display: inline-block;
padding-left: 0.5em;
color: #FF0000;
animation: none;
font-size: 1.5em;
font-weight: bold;
}
.txtbox input{
height: 1.8rem;
}
@keyframes countup {
from {
opacity: 0;
transform: translateY(-20px);
}
to {
opacity: 1;
transform: translateY(0);
}